@use '@angular/material' as mat;

.header {
    @include mat.toolbar-overrides((
        container-background-color: var(--mat-sys-primary-container),
    ));
}

table{
    width: 100%;
}

mat-form-field{
    width: 100%;
    font-size: 14px;
}
