/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;


//---Config defecto---//
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


//---Definicion del tema---//
html {
    color-scheme: light dark;
    @include mat.theme((color: mat.$violet-palette,
            typography: Roboto,
            density: 0));
}

body {
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}

//Iconos editar y eliminar para componentes usuario, producto
.primary {
    @include mat.icon-button-overrides((icon-color: var(--mat-sys-primary)));
}

.primary-buscar {
    @include mat.icon-button-overrides((icon-color: var(--mat-sys-primary)));
}

.warn {
    @include mat.icon-button-overrides((icon-color: var(--mat-sys-error)));

    @include mat.button-overrides((
            filled-container-color: var(--mat-sys-error),
            filled-label-text-color: var(--mat-sys-on-error)
        ));
}


